<!-- Common part for edit and new -->
<%= simple_form_for(@device) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="mb-3">
    <div class="form-inputs mb-3 col-md-6">
        <%= f.input :description %>
    </div>
    <div class="mb-3 col-md-6">
        <!-- Use simple_form association to get equipment_type description in field but save the id -->
        <%= f.association :equipment_type, collection: EquipmentType.pluck(:description, :id), prompt: "Select the equipment type" %>
    </div>
    <div class="form-actions mb-3 col-md-6">
        <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    <% end %>