<!-- Manage errors -->
<% if @device.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @device.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <%end%>
    </ul>
</div>
<%end%>

<div class="form mt-3">
    <h3>Device</h3>
    <!--p>Device.persisted :' <%= debug @device.persisted? %></p>
    <p>Devices : <%= debug @device.inspect %> </p-->

 <%= simple_form_for @device, url: device_path(@device), method: :patch, html: {class: 'form-horizontal'} do |f| %>
    <div class="mb-3">
        <%= f.label :description, "Description", class: 'form-label' %>
        <div class="mb-3 col-md-6">
            <%= f.text_field :description, class: 'form-control' %>
        </div>
    </div>

    <div class="mb-3 col-md-6">
    <!-- Use simple_form association to get equipment_type description in field but save the id -->
      <%= f.association :equipment_type, collection: EquipmentType.pluck(:description, :id), prompt: "Select the equipment type"  %>  
    </div>

    <div class="mb-3">
        <div class="mb-3 col-md-6">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
    </div>
<% end %>

