<!-- Manage errors -->
<% if @device.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @device.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <%end%>
    </ul>
</div>
<%end%>

<div class="form mt-3">
    <h3>Device</h3>
    <p>Device.persisted :' <%= debug @device.persisted? %></p>
    <p>Devices : <%= debug @device.inspect %> </p>

<%= form_for @device, url: device_path(@device) do |form| %>
    <%= form.text_field :description %>
    <!-- TODO : Here also will not do the patch !! Link to current_user ?-->
    <%= form.submit %>
<% end %>



<!--
<h1>Editing Device</h1>

<%= render 'form', device: @device %>

<%= link_to 'Show', @device %> |
<%= link_to 'Back', devices_path %-->
