<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
     <h3>Devices</h3>
    </div>
    <div class="col">
      <% if isAdmin? %>
      <%= link_to 'New Device', new_device_path, :class => "btn btn-outline-success" %>
      <%end%>
    </div>
  </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Equipment type</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @devices.each do |device| %>
        <tr>
            <td><%= device.id %></td>
            <td><%= device.description %></td>
            <!-- Display directly description in state of id -->
            <td><%= device.equipment_type.description %></td>
            <% if isAdmin? %>
            <td><%= link_to 'Edit', edit_device_path(device) %></td>
            <!-- Not managed (On Delete CASACADE) <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe%>
<!-- Debug -->
<!--p>Devices : <%= debug @devices.inspect %> </p-->