<!-- Common part for edit and new -->
<%= simple_form_for(@intervention_state) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3 col-md-6">
    <%= f.input :description %>
  </div>

  <div class="form-actions mb-3 col-md-6">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
