<!-- Partial part for editable values -->
<div class="mb-3 col-md-6">
    <%= f.input :date %>
</div>

<div class="mb-3 col-md-6">
    <!-- Use simple_form association to get equipment_type description in field but save the id -->
    <%= f.association :intervention_type, collection: InterventionType.pluck(:description, :id), prompt: "Select the intervention type" %>
</div>

<div class="mb-3 col-md-6">
    <!-- Use simple_form association to get device description in field but save the id -->
    <%= f.association :device, collection: Device.pluck(:description, :id), prompt: "Select the device" %>
</div>

<div class="mb-3 col-md-6">
    <%=f.input :summary %>
</div>

<div class="mb-3 col-md-6">
    <%=f.input :details %>
</div>

<div class="mb-3 col-md-6">
    <!-- Use simple_form association to get device description in field but save the id -->
    <%= f.association :intervention_state, collection: InterventionState.pluck(:description, :id), prompt: "Select the status type" %>
    <!-- Todo as radio buttons ?-->
    <!--%= f.association :intervention_state, collection: InterventionState.pluck(:description, :id), prompt: "Select the status type", as: :radio_buttons  %-->   
</div>