<p id="notice"><%= notice %></p>

<h1>Interventions</h1>
<p>
    <%= link_to 'New Intervention', new_intervention_path, :class => "btn btn-outline-success" %>
</p>

<%= form_tag interventions_path, method: :get do %>
  <div class="form-group">
    <%= label_tag :search_query, "Search in Details and Summary" %>
    <%= text_field_tag :search_query, params[:search_query], class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <%= link_to 'Clear', interventions_path, class: 'btn btn-link' %>
  </div>
<% end %>

<%= form_tag interventions_path, method: :get do %>
  <div class="form-group">
    <%= label_tag :search_by_device, "Search by device" %>
    <%= text_field_tag :search_by_device, params[:search_by_device], class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <%= link_to 'Clear', interventions_path, class: 'btn btn-link' %>
  </div>
<% end %>

<table class="table table-striped mt-2">
  <thead>
    <tr>
      <th><%= link_to "Status", interventions_path(sorted_by: "intervention_state") %></th>
      <!-- Add sorted by -->
      <th><%= link_to "Device", interventions_path(sorted_by: "device") %></th>
      <th>Summary</th>
      <th>Details</th>
      <th><%= link_to "Intervention type", interventions_path(sorted_by: "intervention_type") %></th>
      <th>Date</th>
      <th><%= link_to "User", interventions_path(sorted_by: "user") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interventions.each do |intervention| %>
        <!-- TODO : Try to make whole line clickeable insate of button -->
        <!--%= link_to edit_intervention_path(intervention) do %-->
        <tr>
        <td><%= intervention.intervention_state.description %></td>
        <td><%= intervention.device.description %></td>
        <td><%= intervention.summary %></td>
        <td><%= intervention.details %></td>      
        <td><%= intervention.intervention_type.description %></td>
        <td><%= intervention.date %></td>
        <td><%= intervention.user.username %></td>
        <!--Only if users's intervention -->
        <% if isUserConnectedIntervention?(intervention) or isAdmin? %>
        <td><%= link_to 'Edit', edit_intervention_path(intervention) %></td>
        <!-- Only if admin -->
        <%end%>
        <% if isAdmin? %>
        <td><%= link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      
    <% end %>
  </tbody>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe%>

<!-- For debug -->
<!--p> intervention : <%= debug @interventions.inspect %> </p-->

