<!-- Manage errors -->
<% if @intervention.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @intervention.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <%end%>
    </ul>
</div>
<%end%>

<div class="form mt-3">
    <h3>Add a new intervention</h3>
    <%= simple_form_for @intervention do |f| %>

    <div class="mb-3 col-md-6">
        <%= f.input :date %>
    </div>

    <div class="mb-3 col-md-6">
        <!-- Use simple_form association to get equipment_type description in field but save the id -->
        <%= f.association :intervention_type, collection: InterventionType.pluck(:description, :id), prompt: "Select the intervention type" %>
    </div>

    <div class="mb-3 col-md-6">
        <!-- Use simple_form association to get device description in field but save the id -->
        <%= f.association :device, collection: Device.pluck(:description, :id), prompt: "Select the device" %>
    </div>

    <div class="mb-3 col-md-6">
        <%=f.input :summary %>
    </div>

    <div class="mb-3 col-md-6">
        <%=f.input :details %>
    </div>

    <div class="mb-3 col-md-6">
        <!-- Use simple_form association to get device description in field but save the id -->
        <!--%= f.input :state, collection: {Open: :1, Close: :0} %-->
    </div>

    <div class="mb-3 col-md-6">
        <%= f.button :submit, 'Create' %>
        <!-- Or modify -->
    </div>

    <%end %>
</div>